@import "../../UI/theme.less";
.container {
  height: 40px;
  background-color: @header;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 10px;
  .fn {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    color: @white;
    background-color: @background;
    border-radius: 2px;
    cursor: pointer;
    .label {
      font-size: 12px;
      margin-left: 6px;
    }

    &:hover {
      background-color: @dark-background;
    }

    &:active {
      background-color: @black;
    }
  }
}
