.editor {
    .wrapper {
        .header {

        }
        .body {
            display: flex;
            .left-box {

            }
            .middle-box {
                flex:1;
            }
            .detail-panel {
                width: 300px;
            }
        }
    }
}